@import '../../constants.scss';

.paronym-card {
	display: block;
	height: 250px;
	width: 500px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.3);
	border-radius: 15px;
	margin: 30px auto 30px auto;
	&__text {
		position: relative;
		height: 250px;
		display: block;
		text-align: center;
		top: 100px;
		font-size: 36px;
	}
}