.general-button {
	display: block;
	margin: 10px auto;
	background-color: #fff;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	padding: 6px;
}
.general-button:hover {
	background-color: #e4e4e4;
}