@import '../../constants.scss';

header {
	background-color: $primaryColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10%;
	color: $primaryTextColor;
	// border-bottom: 1px solid #d8d8d8;
	//border-radius: 15px;
	// box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.5);
	.title {
		font-size: 24px;
		cursor: pointer;
	}
	.links-block{
		font-size: 18px;
		list-style: none;
		&__link {
			display: inline-block;
			padding: 30px;
			a{
				color: $primaryTextColor;
				text-decoration: none;
				transition: all 0.3s ease 0s;
			}
			a:hover{
				color: aqua;
			}
		}
	}
}